<div class="container tagging-section">
	<div class="row">
		<div class="col-sm-4">
			<form action="" method="post" id="search-preference">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
	            <span class="text-muted">Search & Refine</span>
	            <span class="badge badge-secondary badge-pill">tag.count</span>
	          </h4>
	          <fieldset class="form-actions tagging mb-3">
	          	<div class="smoking">
	          		<div class="tag"><span>#</span> Smoker</div>
	          		<div class="tag"><span>#</span> Non-Smoker</div>
	          		<input class="smoking-habit" type="hidden" name="smoking_habit" value="">
	          	</div>
	          	<div class="diet">
	          		<div class="tag"><span>#</span> Vegeterian</div>
	          		<div class="tag"><span>#</span> Non-Vegeterian</div>
	          		<input class="smoking-habit" type="hidden" name="dietary_habit" value="">
	          	</div>
	          	<div class="gender">
	          		<div class="tag"><span>#</span> Female</div>
	          		<div class="tag"><span>#</span> Male</div>
	          		<input type="hidden" name="gender" value="">
	          	</div>

	          	<div class="room">
	          		<label for="room">Room Sharing : </label>
	          		<input type="radio" name="room_sharing" value="yes" checked> Yes 
	          		<input type="radio" name="room_sharing" value="no"> No
	          	</div>

		        <p>
				  <label for="amount">Price range : </label>
				  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p>
				 
				<div id="slider-range"></div>
				</fieldset>
				<input type="submit" name="Search" id="search" class="btn-primary btn center-block" value="Search">
			</form>
		</div>
		<div class="col-sm-8">
			<div class="card-deck">
				<div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
				      <h6 class="card-title">Name</h6>
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
			    </div>
			    <div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
				      <h6 class="card-title">Name</h6>
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
			    </div>
			    <div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
				      <h6 class="card-title">Name</h6>
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
			    </div>
			    <div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
				      <h6 class="card-title">Name</h6>
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
			    </div>
			    <div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
				      <h6 class="card-title">Name</h6>
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
			    </div>
			</div>
		</div>
	</div>
</div>