<body class="bgbodyUserprofile">
<div class="container tagging-section search-section trans">
	<div class="search-history"><b>You previously searched for:{{usersession.last_search}}</b></div>
	<div class="row">
		<div class="col-sm-4">
			<form action="" method="post" id="search-preference">
				
			<h4 class="d-flex justify-content-between align-items-center mb-3">
	            <span class="text-muted">Search & Refine</span>
	            <span class="badge badge-secondary badge-pill">tag.count</span>
			
	          </h4>
	          <fieldset class="form-actions tagging mb-3">
	          	<div class="smoking">
	          		<div class="tag"><span>#</span> Smoker</div>
	          		<div class="tag"><span>#</span> Non-Smoker</div>
	          		<input class="smoking-habit" type="hidden" name="smoking_habit" value="">
	          	</div>
	          	<div class="diet">
	          		<div class="tag"><span>#</span> Vegeterian</div>
	          		<div class="tag"><span>#</span> Non-Vegeterian</div>
	          		<input class="dietary-habit" type="hidden" name="dietary_habit" value="">
	          	</div>
	          	<div class="gender">
	          		<div class="tag"><span>#</span> Female</div>
	          		<div class="tag"><span>#</span> Male</div>
	          		<input type="hidden" name="gender" value="">
	          	</div>

	          	<div class="room">
	          		<label for="room">Room Sharing : </label>
	          		<input type="radio" name="room_sharing" value="yes" checked> Yes 
	          		<input type="radio" name="room_sharing" value="no"> No
	          	</div>
	          	<div>
			        <p>
					  <label for="amount">Price range : </label>
					  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					 
					<div id="slider-range"></div>
				</div>

				<div>
					<label for="amount">Earliest Move-in Date : </label>
					<input id="datepicker" size="30" name="earliest_move_in_date" class="datepicker" readonly="readonly" data-date-format="mm/dd/yyyy">
					<label for="amount">Latest Move-in Date : </label>
					<input id="datepicker2" size="30" name="latest_move_in_date" class="datepicker" readonly="readonly" data-date-format="mm/dd/yyyy">
				</div>
				<div>
					<label for="exampleFormControlInput1">Locality</label>
 					<div class="input-group">
						 <div style="overflow:hidden;">
                            <select multiple required class="form-control" name="location" title="Select the location">
					        <option>Avery Close</option>
					        <option>Colonial Arms</option>
					        <option>Champions Court</option>
							<option>The College Inn</option>
					        <option>Centennial Ridge</option>
					        <option>Gorman Crossing</option>
					        <option>Gorman Place</option>
							<option>Kings Court</option>
					        <option>Kensington Park</option>
					        <option>Mission Valley Garden</option>
							<option>Pine Knoll</option>
					        <option>Parkwood Village</option>
					        <option>University Commons</option>
					        <option>Western Manor</option>
					        <option>Wolf Ridge</option>
                             </select>
                         </div>
				    </div>
				</div>

				</fieldset>
				<input type="submit" name="Search" id="search" class="btn-primary btn center-block" value="Search">
			</form>
		</div>
		<div class="col-sm-8">
			{{#if message}}
	         	<p class='message'>No results match your search criteria. Please search for other preferences.</p>
	        {{/if}}
			<form action="/processprofile" method="post">
			<div class="card-deck">
				{{results}}
				{{#each results}}
				
				<div class="card">
				    <img class="card-img-top" src="../images/user.jpg" alt="Card image cap">
				    <div class="card-block">
					  <input class="card-title" type="submit" name="viewprofile" value="{{email}}" />
			    	</div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
					</div>
					
			    {{/each}}
			</div>
			</form>
		</div>
	</div>
</div>
</body>