<h1>Profile page</h1>

<p><b>First Name:{{session.user.firstname}} </b> </p>
<p><b>Last Name:</b> </p>
<p><b>Gender</b> </p>
<p><b>Email</b> </p>
<p><b>Phone no:</b> </p>
<p><b>Password:</b> </p>

<h2>Characteristics</h2>
<p><b>Smoking habits:</b> </p>
<p><b>Dietary habits:</b> </p>
<p><b>Minimum Budget:</b> </p>
<p><b>Maximum Budget:</b> </p>
<p><b>Locality:</b> </p>
<p><b>Drinking Habits:</b> </p>
<p><b>Room sharing:</b> </p>
<p><b>Earliest Move in date:</b> </p>
<p><b>Latest Move in date:</b> </p>

<a href="/signup">EDIT PROFILE</a>