<div class="container tagging-section">
	<div class="row">
		<div class="col-sm-4">
			<form>
			<h4 class="d-flex justify-content-between align-items-center mb-3">
	            <span class="text-muted">Search & Refine</span>
	            <span class="badge badge-secondary badge-pill">tag.count</span>
	          </h4>
	          <fieldset class="form-actions tagging mb-3">
	          	<div class="smoking">
	          		<div class="tag"><span>#</span> Smoker<input type="hidden" name="case-sensitive[]" value="Smoker"><a role="button" class="tag-i">×</a></div>
	          		<div class="tag"><span>#</span> Non-Smoker<input type="hidden" name="case-sensitive[]" value="NonSmoker"><a role="button" class="tag-i">×</a></div>
	          	</div>
	          	<div class="smoking">
	          		<div class="tag"><span>#</span> Smoker<input type="hidden" name="case-sensitive[]" value="Smoker"><a role="button" class="tag-i">×</a></div>
	          		<div class="tag"><span>#</span> Non-Smoker<input type="hidden" name="case-sensitive[]" value="NonSmoker"><a role="button" class="tag-i">×</a></div>
	          	</div>
		         
				</fieldset>
				<input type="submit" name="Search" id="search" class="btn-primary btn center-block" value="Search">
			</form>
		</div>
		<div class="col-sm-8">

		</div>
	</div>
</div>