.tagging-section .tagging .tag {
    background: none repeat scroll 0 0 #EE7407;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 7px 20px 7px 0;
    margin: 5px 5px 0 0;
    font-size: 0.8em;
}
.tagging-section .tagging .tag.active {
    background-color: #bb5d08;
}
.tagging-section .tagging .tag span {
	background: none repeat scroll 0 0 #f1821f;
    border-radius: 5px;
    margin-right: 2px;
    padding: 4px 10px 3px;
    margin-left: 5px;
}
.tagging-section .tagging .tag.active span {
    background-color: #864308;
}
.tagging-section .tagging > div {
    padding-bottom: 10px;
}
.tagging-section .tagging .tag .tag-i {
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    height: 0;
    line-height: 0.1em;
    position: absolute;
    right: 5px;
    top: 1rem;
    text-align: center;
    width: 10px;
}
.tagging-section form {
	border: 1px solid #d4cccc;
    padding: 20px;
    border-radius: 5px;
}
.card-deck .card-title {
    margin: .76rem;
    text-align: center;
}
.tagging-section .card-deck .card{
    float: left;
    display: block;
    width: 25%;
    flex: none;
    margin-bottom: 20px;
}
.tagging-section .card .card-footer {
    padding: .5rem 1rem;
}

.left-div {
    float: left;
    width: 200px;
    /*height: 20px;*/
    margin-right: 75px;
    background-color: rgb(231, 230, 250);
}
.right-div {

    margin-left: 50px;
    background-color: rgb(255, 0, 43);
}

.login-tab {
    padding: 1cm;
}

.tab-header {
    margin-bottom:1rem;
}

.email-domain {
    padding: 0px;
}

.ncsu-domain {
    padding-top: 9px;
    font-size: 14px;
}

.sbmt-btn {
    margin-top: 5px;
}

.sbmt-btn:hover {
    background-color: royalblue;
}

.required-mark {
    color: red;
    font-weight: bold;
}

.required-message {
    font-style: oblique;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
}

.input-email {
    padding-right: 5px;
}

#loginContainer {
    height: inherit;
    width: inherit;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0px;
    padding-right: 50px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    display:block;
    overflow:auto;
}

#accordion {
    margin-top: 25px;
}

.register-form {
    padding: 2%;
}

.register-row {
    padding: 5px;
}

.register-label {
    padding-top: 5px;
}

.gender {
    margin-right: 20px;
}

div.user-profile {
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0 auto; 
}   

 @media (min-width: 1200px) {
    .user-profile {
        width: 850px !important;
        height: 550px;
    }
}
    @media (min-width: 992px) {
    .user-profile {
        width: 850px !important;
        height: 550px;
    }
}
    @media (min-width: 768px) {
    .user-profile {
         width: 850px !important;
         height: 550px;
    }
}
.fill{ 
    height: 100%;
    width: 100%;
  }
