<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body id="page-top">
   

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">User Profile</h1>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              <p><b>First Name:</b> </p>
              <p><b>Last Name:</b> </p>
              <p><b>Gender:</b> </p>
              <p><b>Email:</b> </p>
              <p><b>Phone no:</b> </p>
              <p><b>Password:</b> </p>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h2 class="mb-5">Characteristics</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4>
              <strong>Responsive</strong>
            </h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4>
              <strong>Redesigned</strong>
            </h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <h4>
              <strong>Favorited</strong>
            </h4>
            
          </div>
          <div class="col-lg-3 col-md-6">
            <h4>
              <strong>Question</strong>
            </h4>
            
          </div>
        </div>
      </div>
    </section>

    
    
    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <a href="#" class="btn btn-xl btn-light mr-4">Edit Your Profile</a>
        <a href="#" class="btn btn-xl btn-dark">Send Request</a>
      </div>
    </section>

  </body>

</html>
